body {
    background-color: rgba(44, 62, 80,1.0);
    color: rgba(236, 240, 241,1.0);
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-size: 1.3em;
}
a {
    color: rgba(236, 240, 241, 0.9);
    transition: color 0.2s;
}
a:hover {
    color: inherit;
}
code {
    font-size: 0.85em;
    font-family: 'Source Code Pro', Monaco, Consolas, monospace;
}
pre {
    background: rgba(0,0,0,0.3);
    padding: 15px;
    margin: 0 -15px;
}
section, footer {
    padding: 50px 5px;
    text-align: center;
}
section:nth-child(2n) {
    background-color: rgba(52, 73, 94,1.0);
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}
section h1 {
    font-weight: 200;
    font-size: 3em;
}
section.intro h1 {
    font-family: "Source Code Pro", Monaco, Consolas, monospace;
}
section:not(.intro) h1:before {
    content: "notif\\\\";
    font-family: "Source Code Pro", Monaco, Consolas, monospace;
    font-size: 0.25em;
    display: inline-block;
    vertical-align: top;
    margin-right: -60px;
    font-weight: 400;
}
section h1, section h2 {
    text-align: center;
    margin-bottom: 0;
}
section h2 {
    margin-top: 0;
}
section .container, footer .container {
    display: inline-block;
    text-align: left;
    width: 100%;
    max-width: 650px;
}
footer .container {
    text-align: center;
    font-size: 0.6em;
}
.call-to-action {
    text-align: center;
    background: rgba(0,0,0,0.4);
    display: block;
    margin-top: 50px;
    padding: 25px;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.3s;
}
.call-to-action:hover {
    background: rgba(255,255,255,0.2);
}
